.container {
    width: 76px;
    height: 76px;
}

.image {
    margin: 0px 10px 4px 10px;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 2px transparent;
}

.name {
    width: 100%;
    height: 16px;
    color: #fff;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
}

.image:hover {
    border: 4px solid #fff;
}