<div class="main-container">
    <div class="container">
        <div class="content">
            <h1>Please Input Login Credential to Proceed</h1>

            <div class="input">
                <div class="input-id">
                    <label>Id:</label>
                    <input type="text" />
                </div>
                <div class="input-id">
                    <label>Password:</label>
                    <input type="text" />
                </div>

                <button type="button" routerLink="/index">Submit</button>
            </div>
        </div>
    </div>
</div>