<div class="main-container">
  <div class="container">
    <section class="head">
      <div class="container-ban">
        <div class="header-blue">
          <input class="team-input" type="text" value="Blue Team" />
        </div>
        <div class="ban-list">
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 1</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 2</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 3</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 4</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 5</div>
          </div>
        </div>
      </div>
      <div class="container-timer">
        <div class="timer">
          0:30
        </div>
      </div>
      <div class="container-ban">
        <div class="header-red">
          <input class="team-input" type="text"  value="Red Team"/>
        </div>
        <div class="ban-list">
          <div class="ban">
            <div class="image"> </div>
            <div class="label">BAN 1</div>
          </div>
          <div class="ban">
            <div class="image"> </div>
            <div class="label">BAN 2</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 3</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 4</div>
          </div>
          <div class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 5</div>
          </div>
        </div>
      </div>
    </section>
    <section class="body">
      <div class="playerList">
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">B1</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">B2</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">B3</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">B4</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">B5</div>
        </div>
      </div>
      <div class="hero-list">
        <div class="hero-search">
          <input class="hero-search-input" type="text" value="Search..."/>
        </div>
        <div class="hero-container wrapper">
          <div class="card" *ngFor="let hero of heroService.heroList; let i = index" (click)="selectHero(hero)">
            <app-hero-member [index]="i" [image]="hero.key" [name]="hero.name"></app-hero-member>
          </div>
        </div>
      </div>
      <div class="playerList">
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">R1</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">R2</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">R3</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">R4</div>
        </div>
        <div class="player">
          <div class="player-image"></div>
          <div class="player-title">R5</div>
        </div>
      </div>
    </section>
  </div>
</div>