<div class="main-container">
  <div class="container">
    <section class="head">
      <div class="container-ban">
        <div class="header-blue">
          <input class="team-input" type="text" value="Team X" />
        </div>
        <div id="blue-ban-list" class="ban-list">
          <div id="blue-ban" class="ban">
            <div class="image"></div>
            <div class="label">BAN 1</div>
          </div>
          <div id="blue-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 2</div>
          </div>
          <div id="blue-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 3</div>
          </div>
          <div id="blue-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 4</div>
          </div>
          <div id="blue-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 5</div>
          </div>
        </div>
      </div>
      <div class="container-timer">
        <div class="timer">
          {{timeLeft}}
        </div>
        <div class="timer-button">
          <ng-container *ngIf="!isDraftStarted">
            <button class="m-l-25 btn-blue" type="button" (click)="freeDraft()">Free Draft</button>
            <button class="m-l-50 btn-blue" type="button" (click)="draft()">Draft</button>
          </ng-container>
          <button class="btn-blue" *ngIf="isDraftStarted" type="button" (click)="reset()" style="margin-left: 100px;">Reset</button>
        </div>
      </div>
      <div class="container-ban">
        <div class="header-red">
          <input class="team-input" type="text" value="Team X" />
        </div>
        <div id="red-ban-list" class="ban-list">
          <div id="red-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 1</div>
          </div>
          <div id="red-ban" class="ban">
            <div class="image"> </div>
            <div class="label">BAN 2</div>
          </div>
          <div id="red-ban" class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 3</div>
          </div>
          <div id="red-ban" class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 4</div>
          </div>
          <div id="red-ban" class="blue-ban">
            <div class="image"> </div>
            <div class="label">BAN 5</div>
          </div>
        </div>
      </div>
    </section>
    <section class="body">
      <div id="blue-pick-list">
        <div id="blue-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">B1</div>
        </div>
        <div id="blue-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">B2</div>
        </div>
        <div id="blue-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">B3</div>
        </div>
        <div id="blue-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">B4</div>
        </div>
        <div id="blue-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">B5</div>
        </div>
      </div>
      <div class="hero-list">
        <div class="hero-search">
          <input [(ngModel)]="search" class="hero-search-input" type="text" (ngModelChange)="onInputSearch($event)"
            placeholder="Search..." />
        </div>
        <div class="hero-container wrapper scroller">
          <div class="card" *ngFor="let hero of heroService.heroList" (click)="selectHero(hero)">
            <app-hero-member [heroid]="hero.heroid" [image]="hero.key" [name]="hero.name" [onSelectHero]="onHeroClick">
            </app-hero-member>
          </div>
        </div>
      </div>
      <div id="red-pick-list">
        <div id="red-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">R1</div>
        </div>
        <div id="red-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">R2</div>
        </div>
        <div id="red-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">R3</div>
        </div>
        <div id="red-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">R4</div>
        </div>
        <div id="red-pick" class="pick">
          <div class="pick-image"></div>
          <div class="pick-name">R5</div>
        </div>
      </div>
    </section>
  </div>
</div>